# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log

# IDE
.idea/
.vscode/
.env

Workflow/
app/temp.py